<title><%= title %></title>
<meta charset="utf-8">

<link href="https://fonts.googleapis.com/css?family=Exo+2:200" rel="stylesheet">

<script src="/js/jquery.js"></script>
<link rel="stylesheet" type="text/css" href="/css/bootstrap/css/bootstrap-theme.min.css">
<link rel="stylesheet" type="text/css" href="/css/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/css/style.css">
<script src="/css/bootstrap/js/bootstrap.min.js"></script>