    <title><%= title %></title>
<meta charset="utf-8">

<!-- Fonts -->
<link href="https://fonts.googleapis.com/css?family=Exo+2:200" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Oswald|Permanent+Marker" rel="stylesheet">

<script src="/js/jquery.js"></script>
<link rel="stylesheet" type="text/css" href="/css/bootstrap/css/bootstrap-theme.min.css">
<link rel="stylesheet" type="text/css" href="/css/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/css/style.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
<script src="/css/bootstrap/js/bootstrap.min.js"></script>