<title><%= title %></title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="content-language" content="en">
<meta name="google" content="notranslate">
<!-- Fonts -->
<link href="https://fonts.googleapis.com/css?family=Exo+2:200" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Oswald|Permanent+Marker" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">

<script src="/js/jquery.js"></script>
<link rel="stylesheet" type="text/css" href="/css/bootstrap/css/bootstrap-theme.min.css">
<link rel="stylesheet" type="text/css" href="/css/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/css/style.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
<script src="/css/bootstrap/js/bootstrap.min.js"></script>
<script>
    function hide_preloader() {
            // To stop the preloader 
            rotate = 0;
            // To apply Fade Out Effect to the Preloader 
            $("#preloader").fadeOut(1000);
        }
    $(document).ready(function() {

        // calculate height
        var screen_ht = $(window).height();
        var preloader_ht = 5;
        var padding = (screen_ht / 2) - preloader_ht;

        $("#preloader").css("padding-top", padding + "px");

        function anim() {
            $("#preloader_image").animate({
                    left: '-1400px'
                }, 5000,
                function() {
                    $("#preloader_image").animate({
                        left: '0px'
                    }, 5000);
                    if (rotate == 1) {
                        anim();
                    }
                }
            );
        }

        anim();

        rotate = 1;


    });

</script>