<nav class="nav-container">
    <div class="nav-logo">
        <img src="/images/letter_m.jpg" class="img-rounded nav-img">
    </div>
    <div class="nav-center">
        <div class="nav-cell"><a href='#' class="nav-link">Home</a></div>
        <div class="nav-cell"><a href='#' class="nav-link">About Me</a></div>
        <div class="nav-cell"><a href='#' class="nav-link">Experience</a></div>
        <div class="nav-cell-end"><a href='#' class="nav-link">Awards</a></div>
    </div>
</nav>