<nav class="nav-container">
    <div class="nav-logo">
        <img src="/images/letter_m.jpg" class="img-rounded nav-img">
    </div>
    <div class="nav-center">
        <div class="nav-cell"><a class="nav-link">Home</a></div>
    </div>
</nav>