    <nav class="nav-container">
    <div class="nav-logo">
        <img src="/images/letter_m.jpg" class="img-rounded nav-img">
    </div>
    <div class="nav-center">
        <div class="nav-cell"><a href='#' id="nav-welcome" class="nav-link">HOME</a></div>
        <div class="nav-cell"><a href='#' id="nav-about" class="nav-link">ABOUT ME</a></div>
        <div class="nav-cell"><a href='#' id="nav-experience" class="nav-link">EXPERIENCE</a></div>
        <div class="nav-cell"><a href='#' id="nav-awards" class="nav-link">AWARDS</a></div>
        <div class="nav-cell"><a href='/blog' id="nav-blog" class="nav-link">BLOG</a></div>
        <div class="nav-cell-end"><a target="_blank" href='/michael_CV.pdf' class="nav-link">RESUME</a></div>
    </div>
</nav>
