/*                                 Important                                        */

body {
    font-family: 'Exo 2', sans-serif;
}

.title-icon {
    margin: 10px;
}

.footer {
    background-color: white;
    height: 50px;
    width: 100%;
}

.footer p {
    text-align: center;
    font-size: 15pt;
    padding: 10px;
}

img {
    height: 150px;
    margin: 10px;
    opacity: 0;
}

#loadingBlock {
    padding: 30px;
    background-color: white;    
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
}

.loaded {
    -webkit-animation: fadein .5s;
    -moz-animation: fadein .5s;
    -o-animation: fadein .5s;
    animation: fadein .5s;
    margin: 0px;
    opacity: 1;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-moz-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-ms-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-o-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.hidden {
    display: none;
}

.link-wrap:hover {
    background-color: #e6e6e6;
    
}
/****************************** Bootstrap *******************************************/

.center {
    text-align: center;
    padding: 30px;
}

.front-container {
    padding: 0px;
    margin: 0px;
    width: 100%;
}

.col-md-6 {
    /*    padding: 0px;
    margin:0px;*/
}

.row-1 {
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;
}


.row-1:last-of-type {
    padding: 0px;
    margin: 0px;
    margin-bottom: 0px;
}

.noOverflow {
    overflow: hidden;
}

/*******************************   The navbar   *************************************/

.nav-container {
    z-index: 20;
    width: 100%;
    height: 70px;
    position: fixed;
    background-color: #e0251f;
}

.nav-logo {
    margin-left: 10px;
    padding: 5px;
    position: absolute;
    float: left;
}

.nav-img {
    height: 60px;
}

.nav-center {
    text-align: center;
    width: 100%;
    height: 50px;
    padding: 20px;
    display: inline-block;
}

.nav-cell {
    height: 100%;
    display: inline-block;
    font-size: 13pt;

}

.nav-cell::after {
    content: "/";
    color: white;
    margin: 20px;
}

.nav-cell-end {
    height: 100%;
    display: inline-block;
    font-size: 13pt;
}

.nav-link:link,
.nav-link:visited,
.nav-link:active {
    color: white;
    text-decoration: none;
    position: relative;
}

.nav-link:hover {
    color: white;
}

.nav-link:before {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    bottom: -10px;
    left: 0;
    background-color: white;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
}

.nav-link:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

/*******************************   The navbar   *************************************/

/* Welcome message */

#welcome {
    width: 100%;
    background-color: white;
    position: sticky;
    top: 70px;
    z-index: 0;
    margin-bottom: 70px;
}

@keyframes message {
    from {
        top: -1000px;
    }
    to {
        top: 100px;
    }
}

#welcomeMessage {
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    color: #4DB3B3;
    z-index: 10;
    text-align: center;
    animation-name: message;
    animation-duration: 2s;
}

#welcomeArrow {
    position: absolute;
    right: 50%;
    bottom: 5%;
}

#welcomeLink {
    text-decoration: none;
}

/* ################## HEARTBEAT ANIMATION ########################### */

.heart-rate {
    overflow: hidden;
    width: 600px;
    height: 300px;
    position: relative;
}

.fade-in {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    top: 0;
    right: 0;
    animation: heartRateIn 2.5s linear infinite;
}

.fade-out {
    position: absolute;
    width: 120%;
    height: 100%;
    top: 0;
    left: -120%;
    animation: heartRateOut 2.5s linear infinite;
    background: rgba(255, 255, 255, 1);
    background: -moz-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) 100%);
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) 100%);
    background: -o-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) 100%);
    background: -ms-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) 100%);
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 80%, rgba(255, 255, 255, 0) 100%);
}

@keyframes heartRateIn {
    0% {
        width: 100%;
    }
    50% {
        width: 0;
    }
    100% {
        width: 0;
    }
}

@keyframes heartRateOut {
    0% {
        left: -100%;
    }
    30% {
        left: -100%;
    }
    100% {
        left: 0;
    }
}

/********************************** Intro section **********************************************/

#about {
    background-color: #e0251f;
    color: white;
    position: relative;
    overflow: hidden;
}

.section-title-white {
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid white;
}

.section-title-black {
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid black;
}

.content-header {
    margin: 0px;
    padding: 0px;
}

.about-pic {
    overflow: auto;
    width: 50%;
}

.about-pic-normal {
    position: absolute;
    top: 0;
    padding: 0px;
    margin: 0px;
    z-index: 5;
}

.about-pic-content-normal {
    position: relative;
    top: 0;
    left: 50%;
    width: 50%; 
    z-index: 10;
    background-color: inherit;
    padding: 20px;
}

.about-pic-reverse {
    position: absolute;
    top: 0;
    left: 50%;
    padding: 0px;
    margin: 0px;
    z-index: 5;
}

.about-pic-content-reverse {
    position: relative;
    top: 0;
    width: 50%;
    left: 0;
    z-index: 10;
    background-color: inherit;
    padding: 20px;
}

.about-pic-img {
    overflow: hidden;
}

#about-content {
    text-align: center;
    padding: 50px 90px 30px 90px;
    font-size: 14pt;
}

.about-skills {
    padding: 50px 70px 110px 70px;
    font-size: 14pt;
}

.about-skills-cell {
    padding: 10px;
    position: relative;
    width: 0%;
}

.about-skills-level {
    color: white;
    position: absolute;
    right: 10px;
    top: 10px;
}

.about-skills-cell > p {
    color: white;
}

.about-skills-cell > div {
    height: 10px;
    background-color: black;
    position: relative;
}

.about-skills-cell > div > div {
    height: 10px;
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
}

.about-education {
    padding: 50px 70px 30px 70px;
    font-size: 14pt;
}

.about-education-box {
    padding-top: 40px;
}

.about-education-cell {
    position: relative;
    padding: 10px;
}

.about-education-school {
    margin-bottom: 8px;
    font-size: 15pt;
    font-weight: bold;
}

.about-education-program {
    font-size: 12pt;
    font-style: italic;
}

.about-education-year {
    position: absolute;
    right: 10px;
    top: 10px;
}

.about-education-gpa {
    position: absolute;
    right: 10px;
    top: 40px;
    font-size: 10pt;
}

.about-skills-rise {
    width: 0;
    transition: width 1s;
}

/********************************** Experience section **********************************************/

#experience {
    background-color: white;
    position: relative;
    overflow: hidden;
}

.no-link:hover, .no-link:active, .no-link:link, .no-link:visited {
    text-decoration: none;
    color: inherit;
}

.exp-modal-text {
    padding: 30px;
    text-align: center;
    font-size: 15pt;
}

.exp-modal-pic {
    font-size: 200pt;
}

.exp-cell {
    height: 400px;
    margin-top: 50px;
    transform: rotateY(0deg);
    margin: 30px 40px 30px 40px;
}

.exp-box {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.exp-tagline {
    height: 50px;
    width: 52%;
    border-right: 1px solid #b3b3b3;
}

.exp-content {
    height: 250px;
    width: 100%;
    font-size: 100pt;
    text-align: center;
    border-bottom: #d9d9d9 0.1px solid;
    position: relative;
}

.exp-content:hover .exp-content-text {
    opacity: 1;
}

.exp-pic {
    margin-top: 50px;
}

.exp-content-text {
    position: absolute;
    text-align: center;
    top: 00px;
    height: 250px;
    width: 100%;
    opacity: 0;
    font-size: 15pt;
    color: white;
    background-color: #e0251f;
    padding: 50px;
    transition: opacity 0.6s;
}

.exp-title {
    text-align: center;
    height: 120px;
    padding: 10px;
}

.exp-title h3 {
    margin: 0px;
    font-weight: bold;
}

.exp-title p {
    margin: 0px;
    font-size: 10pt;
}

.exp-title p:first-of-type {
    font-size: 15pt;
}

@keyframes expFlip {
    from {
        transform: rotateY(180deg);
    }
    to {
        transform: rotateY(360deg);
    }
}

.exp-flip {
    animation-name: expFlip;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}


/************************************ Awards ************************************/

@keyframes awardslide {
    from {
        left: 1000px;
    }
    to {
        left: 0px;
    }
}

#awards {
    background-color: #e0251f;
    color: white;
    position: relative;
    overflow: hidden;
}

.award-row {
    position: relative;
    width: 80%;
    min-width: 600px;
    margin: 30px 10%;
    height: 100px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    right: 10000px;
}

.award-row:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}

.award-img {
    width: 10%;
    border: 1px solid white;
    height: 100%;
    float: left;
    text-align: center;
    font-size: 200%;
    padding-top: 3%;
}

.award-content {
    width: 90%;
    height: 100%;
    border: 1px solid white;
    display: inline-block;
    position: relative;
    padding-left: 20px;
}

.award-content h3 {
    position: absolute;
    font-size: 20pt;
}

.award-date {
    float: right;
    margin: 30px;
}

.award-info {
    position: absolute;
    top: 60px;
}

.award-animate {
    animation-name: awardslide;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

/************************************** Blog title animation ******************************/

.ml11 {
    font-weight: 900;
    font-size: 3.5em;
}

.ml11 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.1em;
    padding-right: 0.05em;
    padding-bottom: 0.15em;
}

.ml11 .line {
    opacity: 0;
    position: absolute;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: #fff;
    transform-origin: 0 50%;
}

.ml11 .line1 {
    top: 0;
    left: 0;
}

.ml11 .letter {
    display: inline-block;
    line-height: 1em;
}


/************************************** Blog Page ****************************************/

#blog-head {
    margin-top: 70px;
    font-family: 'Permanent Marker', cursive;
    text-align: center;
}

#blog-head-txt {
    margin-top: 250px;
}

#blog-content {
    font-family: 'Oswald', sans-serif;
    width: 100%;
    padding: 100px 100px 100px 100px;
    font-size: 20pt;
}

/*************************************** Blog list page **************************************/

.blog-list-cell {
    border: 0.5px solid #cccccc;
    position: relative;
    padding: 0px;
}

#blog-list-box {
    margin-top: 70px;
    height: 100%;
}

.blog-list-link:link,
.blog-list-link:active,
.blog-list-link:visited {
    text-decoration: none;
    color: black;
    line-height: 0px;

}

.blog-list-title-box {
    position: absolute;
    top: 30%;
    width: 100%;
    text-align: center;
    margin: 0;
    line-height: normal;
}

.blog-list-date {
    font-size: 15pt;
    font-family: 'Oswald', sans-serif;
}

.blog-list-title-txt {
    font-family: 'Permanent Marker', cursive;
    padding: 20px;
    font-size: 40pt;
}

.blog-list-desc {
    position: absolute;
    text-align: center;
    top: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    font-size: 20pt;
    color: white;
    background-color: rgba(180, 30, 24, 0.95);
    font-family: 'Oswald', sans-serif;
    transition: opacity 0.4s;
}

.blog-list-desc > p {
    position: absolute;
    top: 20%;
    margin: 0px;
    padding: 10px;
    text-align: center;
    width: inherit;
    height: 75%;
    overflow: hidden;
    line-height: normal;
}

.blog-list-link:hover .blog-list-desc {
    opacity: 1;
}

#page-bar {
    text-align: center;
    height: 100px;
    padding: 30px;
}

.page-bar-cell:active,
.page-bar-cell:link,
.page-bar-cell:visited {
    padding: 15px;
    text-decoration: none;
    background-color: rgb(180, 30, 24);
    display: inline-block;
    color: white;
}

.page-bar-cell:hover {
    background-color: #e33b35;
}

.page-bar-active:active,
.page-bar-active:link,
.page-bar-active:visited {
    padding: 15px;
    text-decoration: none;
    display: inline-block;
    color: white;
    background-color: #e33b35;
}
