/*                                 Important                                        */

body {
    font-family: 'Archivo', sans-serif;
}

/*                                 Important                                        */

/*******************************   The navbar   *************************************/
.nav-container {
    width: 100%;
    height: 70px;
    position: fixed;
    background-color: red;
}

.nav-logo {
    margin-left: 10px;
    padding: 5px;
    position: absolute;
    float: left;
}

.nav-img {
    height: 60px;
}

.nav-center {
    text-align: center;
    width: 100%;
    height: 50px;
    padding: 20px;
    display: inline-block;
}

.nav-cell {
    height: 100%;
    display: inline-block;
    font-size: 13pt;
    
}

.nav-cell::after {
    content: "/";
    color: white;
    margin: 20px;
}

.nav-cell-end {
    height: 100%;
    display: inline-block;
    font-size: 13pt;
}

.nav-link:link, .nav-link:visited, .nav-link:active {
    color: white;
    text-decoration: none;
    position: relative;
}

.nav-link:hover {
    color: white;
}

.nav-link:before {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    bottom: -10px;
    left: 0;
    background-color: white;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
}

.nav-link:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

/*******************************   The navbar   *************************************/