<html>
<%- include header.ejs %>

<body>
    <%- include blogNav.ejs %>
    
    <div class="container">
        <div class="blog-title"></div>
        <div class=""></div>
    </div>
    
    <%- include footer.ejs %>
</body>
</html>