<html>
<%- include header.ejs %>
    
<body>
    <%- include nav.ejs %>
    
    <div id="welcome" class="row">
        <div id="heart-div" class="heart-rate">
            <canvas id="myCanvas"></canvas>
            <div class="fade-in"></div>
            <div class="fade-out"></div>
            <div id="welcomeMessage">
                <p id="wm1">I AM</p>
                <p>MICHAEL LEE</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div id="about" class="row">
            <h2 class="text-center"><span class="section-title-white">ABOUT</span></h2>
            <div id="about-content">
                <%= items.description %>
            </div>
        </div>
        
        <div id="experience" class="row">
            <h2 class="text-center"><span class="section-title-black">EXPERIENCE</span></h2>
            <div class="exp-cell col-md-4">
                <div class="exp-box">
                    <div class="exp-content">
                        <div class="exp-pic glyphicon glyphicon-heart"></div>
                        <div class="exp-content-text">Coordinated medical missions and events for the organization</div>
                    </div>
                    <div class="exp-title">
                        <h3>GMMA Canada</h3>
                        <p>VP Events</p>
                        <p>September 2016 - present</p>
                    </div>
                </div>
            </div>
            
        </div>
        
    </div>
    
    
    
    <%- include footer.ejs %>
</body>    
</html>